.buy {
	float: right;
}

.price {
	text-align: center;
}

.description {
	margin-bottom: 8px;
}

.product {
	width: 250px;
	height: 300px;
	border: 1px solid gray;
	padding: 0;
	margin: 8px;
}

.product .col {
	padding: 0;
}

.container {
	height: 100%;
}

.product-bottom {
	position: absolute;
	bottom: 0;
	padding: 8px;
	border-top: 1px solid gray;
	background-color: #F0F4F6;
	width: 100%;
}

.product-picture {
	padding: 8px;
}

.product-picture img {
	width: 100%;
	height: 100%;
}